@using FunWithFood.Dto.Food
@{
    ViewData["Title"] = "Edit Food";
}

@model EditFoodDto

<div div class="text-center bg-info border border-dark rounded" style="width: 600px; margin: 0 auto;">
    <h1 class="display-4">Edit Food</h1>


    <form asp-action="EditFood" asp-controller="Food" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <select class="form-control mx-auto" style="width: 400px" asp-for="CuisineId" asp-items="ViewBag.CuisineList">
        <option value="@Model.CuisineId">-- Select Cuisine --</option>
    </select>
    <label class="mt-4">Name</label>
        <input type="text" class="form-control mx-auto" style="width: 400px" placeholder="@Model.Name" asp-for="Name" />

    <label>Image</label>
    <img id="foodImage"
         src="@(Model.ImageBase64 != null ? $"data:image/jpeg;base64,{Model.ImageBase64}" : "")"
         alt="Food Image"
         class="mx-auto"
         style="width: 200px; height: auto; margin-top: 10px; display: @(Model.ImageBase64 != null ? "block" : "none");" />

        <input type="file" id="imageUpload" asp-for="ImageFile" class="form-control mx-auto m-2" style="width: 400px" accept="image/jpeg, image/png" />

    <button type="submit" class="btn btn-success m-2">Edit Food</button>
</form>
</div>

<script>
    document.getElementById("imageUpload").addEventListener("change", function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const foodImage = document.getElementById("foodImage");
                foodImage.src = e.target.result;
                foodImage.style.display = "block";
            };
            reader.readAsDataURL(file);
        }
    });
</script>