@using FunWithFood.ViewModels
@{
    ViewData["Title"] = "Food, Food and Food!";
}

@model FoodDisplayViewModel

<div class="text-center">
    <h1 class="display-4">Feeling Hungry?</h1>
</div>
<div class="text-center">
    <h3 class="display-4">How about trying this?</h3>
    <div class="card text-center mx-auto" style="width: 18rem;">
        <div style="width: 18rem; height: 200px">
            @if (!string.IsNullOrEmpty(Model.ImageBase64))
            {
                <img src="data:image/jpeg;base64,@Model.ImageBase64" alt="Food Image" class="card-img-top food-image">
            }
            else
            {
                <p class ="no-image-text">No image available</p>
            }
        </div>


        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.CuisineType</p>
        </div>
    </div>

    <button id="newFoodButton" class="btn btn-primary mt-3 mx-auto">Show Another Food</button>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#newFoodButton').on('click', function () {
            $.ajax({
                url: '@Url.Action("GetRandomFood", "Food")', 
                type: 'GET',
                success: function (data) {
                    const cardTitle = $('.card-title');
                    const cardText = $('.card-text');
                    const cardImage = $('.food-image');
                    const noImageText = cardImage.siblings('.no-image-text');

                    cardTitle.text(data.name);
                    cardText.text(data.cuisineType);

                    if (noImageText.length) {
                        noImageText.remove();
                    }
                    // Check if image data is available and update accordingly
                    if (data.imageBase64) {
                        cardImage.attr('src', 'data:image/jpeg;base64,' + data.imageBase64);
                        cardImage.show();  
                        
                    } else {
                        cardImage.hide();  
                        
                        if (!noImageText.length) {
                            cardImage.after('<p class="no-image-text">No image available</p>');
                        }
                    }

                },
                error: function () {
                    alert('Could not load new food item. Please try again.');
                }
            });
        });
    });
</script>