@using FunWithFood.Dto.Cuisine
@{
    ViewData["Title"] = "Add Cuisine";
}

@model AddCuisineDto

<div class="text-center bg-info border border-dark rounded" style="width: 600px; margin: 0 auto;">
    <h1 class="display-4">Add Cuisine</h1>

    <div class="text-center">
        <form asp-action="AddCuisine" asp-controller="Cuisine">
            <label class="mt-4">Type</label>
            <input type="text" class="form-control mx-auto" style="width: 400px" placeholder="Add New Cuisine!" asp-for="Type" />

            <button type="submit" class="btn btn-primary m-2">Add Cuisine</button>
        </form>
    </div>
</div>
