@using FunWithFood.ViewModels
@{
    ViewData["Title"] = "Cuisine";
}

@{
    bool isUserAuthenticated = Context.Request.Cookies["AuthToken"] != null && ViewBag.IsTokenValid;
}

@model List<CuisineViewModel>

<div class="text-center">
    <h1 class="display-4">Cuisine</h1>
</div>

<div id="cuisine-container" class="container d-flex flex-row flex-wrap justify-content-space-evenly gap-3 mx-auto">
    @{
        foreach (CuisineViewModel cuisine in Model)
        {
            <div class="mx-auto d-flex flex-row flex-wrap justify-content-space-evenly mx-auto 
                            text-center border border-2 rounded border-dark cuisine-font" data-cuisine-id="@cuisine.Id">
                <div class="m-3">
                    <h3>@cuisine.Type</h3>
                </div>
                

            @if (isUserAuthenticated)
            {
                    <div class="m-3">
                    <a asp-controller="Cuisine" asp-action="EditCuisinePage" asp-route-id="@cuisine.Id" class="btn btn-success"><i class="fa fa-pencil"></i></a>
                    <a asp-controller="Cuisine" asp-action="DeleteCuisine" asp-route-id="@cuisine.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </div>
                
            }
            </div>

        }
    }
</div>
@if (isUserAuthenticated)
{
    <div class="text-center my-2">
        <form asp-controller="Cuisine" asp-action="AddCuisinePage" method="get">
            <button type="submit" class="btn btn-success">Add Cuisine</button>
        </form>
    </div>
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    const randomColorRGB = () => {
        const red = Math.floor(Math.random() * 128) + 128
        const green = Math.floor(Math.random() * 128) + 128
        const blue = Math.floor(Math.random() * 128) + 128
        return `rgb(${red}, ${green}, ${blue})`
    }


    $(function() {
        $cuisineContainer = $('#cuisine-container');
        $cuisineContainer.children().each(function () {
            $(this).css('background-color', randomColorRGB());
        });
    })
</script>
